In [1]:
import pandas as pd
import dask.dataframe as dd
import numpy as np
import yaml
from openpyxl import load_workbook
import re
import os
import glob
from IPython.display import display

pd.set_option('display.max_rows', None)

In [2]:
base_path = r'C:/Users/amnar/Desktop/gh_konsistensi/'

# File paths
dataset_path = base_path + 'data/sgtgu/2022_RawData QESWS 3Q.xlsx'
reference_files = ['data/sgtgu/2022_RawData QESWS 2Q.xlsx',
                   'ref/msic_code_detail_01.csv',
                   'ref/survey_code.csv']

file_paths = [dataset_path] + [base_path + file for file in reference_files]

output_file_path = ('C:/Users/amnar/Desktop/gh_konsistensi/output/sgtgu/')

In [3]:
def read_files(*file_paths):
    def read_csv(file_path):
        return pd.read_csv(file_path, encoding='unicode_escape', low_memory=False)

    def read_excel(file_path):
        workbook = load_workbook(filename=file_path)
        sheet_name = workbook.sheetnames[0]  # Get the name of the first sheet
        worksheet = workbook[sheet_name]
        data = list(worksheet.values)
        return pd.DataFrame(data[1:], columns=data[0])

    file_readers = {
        'csv': read_csv,
        'xlsx': read_excel,
        'xls': read_excel
    }
    
    predefined_names = {
        '2022_RawData QESWS 3Q.xlsx': 'df_present',
        '2022_RawData QESWS 2Q.xlsx': 'df_past',
        'msic_code_detail_01.csv': 'df_msic',
        'survey_code.csv': 'df_survey'
    }
    
    for file_path in file_paths:
        filename = file_path.split('/')[-1]
        df_name = predefined_names[filename]
        file_format = filename.split('.')[-1]
        
        # Declare the dataframe name as global
        globals()[df_name] = file_readers[file_format](file_path)

# Call the function
read_files(*file_paths)

In [4]:
def extract_quarter(file_name):
    # Extract the quarter information from the file name using regular expressions
    pattern = r"(\d)Q[^Q]*$"  # Assumes the quarter information is a single digit followed by 'Q' and any other characters until the end
    match = re.search(pattern, file_name)

    if match:
        quarter = int(match.group(1))
        return quarter
    else:
        raise ValueError("Invalid file name format. Quarter information not found.")

# Example usage
file_name = dataset_path
quarter = extract_quarter(file_name)
print("Detected quarter:", quarter)

Detected quarter: 3

In [5]:
year_ori = 2022
year = 22

In [6]:
# Extract the original file name
original_file_name = os.path.basename(dataset_path)

In [7]:
def merge_and_filter_data(df_past, df_present, df_msic, df_survey):
    df_past.columns = df_past.columns.str.upper()
    df_present.columns = df_present.columns.str.upper()
    df_msic.columns = df_msic.columns.str.upper()
    df_survey.columns = df_survey.columns.str.upper()
    print("Past, present, msic and survey dataframe successfully capitalized.")
    merged_df = df_past.merge(df_present, on='NEWSSID', suffixes=('_past', '_present'), how='inner')
    df_merged_flt = merged_df[merged_df['STATUS_present'] == 4]
    print("Data merged and filtered successfully!")
    return df_merged_flt

df_merged_flt = merge_and_filter_data(df_past, df_present, df_msic, df_survey)
print("Filtered DataFrame shape:", df_merged_flt.shape)

pd.set_option('display.max_columns', None)

Past, present, msic and survey dataframe successfully capitalized.
Data merged and filtered successfully!
Filtered DataFrame shape: (11994, 1217)

In [8]:
df_merged_flt.shape

(11994, 1217)

In [24]:
df_merged_flt['A22309_F1310'].value_counts(ascending=True)

A22309_F1310
26979       1
998         1
999         1
1000        1
1002        1
386         1
384         1
1016        1
1018        1
378         1
1023        1
1029        1
1031        1
1036        1
1038        1
1039        1
1043        1
1047        1
1048        1
1049        1
1062        1
1063        1
1068        1
1071        1
1074        1
1075        1
1088        1
1090        1
1092        1
1094        1
394         1
1096        1
989         1
985         1
911         1
912         1
913         1
915         1
449         1
918         1
922         1
928         1
436         1
930         1
931         1
936         1
940         1
421         1
943         1
944         1
949         1
950         1
952         1
414         1
956         1
957         1
962         1
969         1
970         1
974         1
981         1
982         1
399         1
987         1
1098        1
1100        1
1102        1
1224        1
1225        1
1227        1
1229        1
1235        1
1237        1
1239        1
1240        1
1241        1
1249        1
1255        1
1264        1
1270        1
1271        1
1277        1
1279        1
1280        1
1282        1
1283        1
1285        1
1289        1
1290        1
1291        1
1294        1
1295        1
1302        1
1306        1
1308        1
1310        1
1218        1
1209        1
1205        1
1204        1
1108        1
1110        1
1112        1
1113        1
747         1
334         1
1126        1
1128        1
1132        1
329         1
1135        1
1137        1
1141        1
1144        1
907         1
1153        1
1157        1
1158        1
1161        1
1166        1
1169        1
1178        1
1185        1
1186        1
1187        1
1188        1
1189        1
1192        1
1198        1
1200        1
1154        1
906         1
904         1
460         1
651         1
649         1
646         1
644         1
775         1
776         1
638         1
778         1
630         1
623         1
622         1
620         1
782         1
616         1
783         1
16863       1
612         1
611         1
609         1
789         1
606         1
790         1
603         1
602         1
792         1
793         1
599         1
796         1
597         1
653         1
660         1
765         1
665         1
745         1
744         1
743         1
742         1
741         1
751         1
736         1
734         1
731         1
726         1
752         1
724         1
721         1
709         1
799         1
708         1
703         1
698         1
693         1
688         1
686         1
685         1
682         1
679         1
761         1
673         1
672         1
670         1
763         1
667         1
706         1
1319        1
594         1
590         1
849         1
521         1
852         1
518         1
855         1
856         1
857         1
508         1
503         1
861         1
863         1
867         1
494         1
870         1
489         1
879         1
880         1
882         1
883         1
884         1
886         1
890         1
475         1
891         1
470         1
895         1
897         1
901         1
462         1
848         1
845         1
526         1
841         1
800         1
801         1
585         1
805         1
577         1
808         1
575         1
815         1
572         1
568         1
818         1
819         1
563         1
562         1
592         1
821         1
825         1
555         1
553         1
552         1
548         1
828         1
544         1
833         1
542         1
834         1
840         1
535         1
532         1
531         1
559         1
1321        1
1117        1
1324        1
2887        1
2880        1
2866        1
2855        1
2819        1
2741        1
2906        1
2735        1
2680        1
2656        1
2654        1
2633        1
2612        1
2592        1
2723        1
2907        1
2940        1
2960        1
3277        1
3268        1
3253        1
3210        1
3207        1
3195        1
3145        1
3135        1
3127        1
3117        1
3099        1
3035        1
3034        1
3021        1
3013        1
2565        1
2559        1
2535        1
2520        1
2250        1
2248        1
2239        1
2227        1
2213        1
2206        1
2193        1
2187        1
2182        1
2158        1
2155        1
2141        1
2137        1
2123        1
2122        1
2258        1
3295        1
2265        1
2279        1
2512        1
2502        1
2489        1
2457        1
2455        1
2451        1
2437        1
2430        1
2407        1
1322        1
2405        1
2404        1
2309        1
2300        1
2280        1
2266        1
2112        1
3325        1
3368        1
5996        1
5856        1
5830        1
5723        1
5625        1
5605        1
6047        1
5558        1
5405        1
5323        1
5271        1
4908        1
4856        1
4843        1
5446        1
6688        1
7121        1
7156        1
16467       1
14492       1
14309       1
13945       1
13000       1
12111       1
10915       1
10820       1
10421       1
9501        1
9418        1
8575        1
8254        1
7595        1
7293        1
4740        1
4726        1
4716        1
4647        1
3868        1
3861        1
3858        1
3805        1
3792        1
3775        1
3711        1
3705        1
3642        1
3588        1
3546        1
3502        1
3501        1
3467        1
3404        1
3870        1
3332        1
3871        1
4044        1
4477        1
4431        1
4396        1
4353        1
4339        1
4335        1
4331        1
4308        1
4284        1
4213        1
4203        1
4202        1
4178        1
4076        1
4065        1
3962        1
2109        1
750         1
1631        1
1731        1
1732        1
1735        1
1478        1
1477        1
1771        1
1475        1
1470        1
1779        1
1781        1
1466        1
1797        1
1480        1
1800        1
1465        1
1439        1
1533        1
1430        1
1428        1
1425        1
1819        1
1827        1
1422        1
1416        1
1849        1
1412        1
1805        1
1730        1
1728        1
1707        1
1541        1
1545        1
1553        1
1557        1
1564        1
1526        1
1567        1
1520        1
1510        1
1575        1
1577        1
1507        1
1505        1
1504        1
1503        1
1578        1
1596        1
1621        1
1623        1
2101        1
1644        1
1651        1
1654        1
1496        1
1493        1
1703        1
1482        1
1404        1
1866        1
1532        1
1346        1
1909        1
2038        1
1928        1
1384        1
2000        1
2007        1
1987        1
1350        1
2035        1
1370        1
1929        1
1356        1
1954        1
2023        1
1362        1
1360        1
1958        1
1385        1
1358        1
1957        1
1333        1
2096        1
1867        1
1398        1
1396        1
1874        1
1337        1
2061        1
1897        1
1885        1
1326        1
1390        1
2043        1
1387        1
2011        1
1904        1
1903        1
722         2
621         2
723         2
1484        2
1365        2
681         2
784         2
1497        2
729         2
615         2
1353        2
1301        2
740         2
322         2
1524        2
1318        2
746         2
728         2
718         2
633         2
715         2
707         2
650         2
1210        2
655         2
766         2
1219        2
648         2
662         2
697         2
287         2
762         2
1411        2
675         2
760         2
753         2
647         2
1372        2
1473        2
624         2
626         2
780         2
628         2
631         2
632         2
684         2
714         2
636         2
637         2
712         2
307         2
641         2
642         2
710         2
716         2
663         2
948         2
593         2
469         2
892         2
2375        2
474         2
992         2
392         2
1010        2
482         2
484         2
1014        2
1859        2
492         2
493         2
381         2
497         2
864         2
1143        2
860         2
505         2
466         2
900         2
461         2
984         2
423         2
938         2
428         2
934         2
430         2
433         2
434         2
437         2
929         2
506         2
926         2
443         2
444         2
920         2
446         2
916         2
964         2
406         2
451         2
910         2
925         2
507         2
379         2
509         2
1818        2
832         2
547         2
550         2
551         2
351         2
558         2
1691        2
561         2
358         2
570         2
339         2
338         2
803         2
583         2
584         2
587         2
1120        2
591         2
333         2
341         2
359         2
477         2
513         2
369         2
524         2
843         2
540         2
2650        2
514         2
1776        2
1041        2
371         2
533         2
534         2
511         2
1810        2
1770        2
837         2
835         2
365         2
942         3
955         3
899         3
961         3
1400        3
754         3
824         3
827         3
1073        3
1056        3
876         3
986         3
613         3
725         3
332         3
472         3
479         3
319         3
483         3
485         3
318         3
490         3
467         3
496         3
311         3
501         3
504         3
516         3
517         3
519         3
310         3
523         3
498         3
525         3
463         3
347         3
416         3
403         3
401         3
398         3
393         3
389         3
429         3
376         3
344         3
374         3
439         3
156         3
207         3
448         3
452         3
353         3
455         3
457         3
370         3
527         3
510         3
536         3
530         3
600         3
601         3
605         3
608         3
610         3
627         3
589         3
634         3
656         3
661         3
271         3
674         3
680         3
683         3
700         3
640         3
586         3
598         3
574         3
545         3
560         3
564         3
565         3
247         3
576         3
236         3
541         3
539         3
578         3
308         3
300         4
296         4
263         4
405         4
388         4
407         4
297         4
261         4
395         4
327         4
366         4
368         4
367         4
326         4
260         4
276         4
354         4
352         4
277         4
343         4
336         4
219         4
259         4
328         4
288         4
410         4
265         4
473         4
431         4
465         4
432         4
441         4
538         4
445         4
546         4
500         4
488         4
480         4
454         4
476         4
458         4
468         4
447         4
556         4
543         4
419         4
426         4
668         4
814         4
643         4
671         4
422         4
614         4
557         4
413         4
425         4
264         5
412         5
324         5
323         5
321         5
273         5
335         5
478         5
241         5
312         5
522         5
278         5
580         5
306         5
229         5
301         5
737         5
299         5
231         5
549         5
293         5
317         5
337         5
411         5
342         5
409         5
172         5
404         5
267         5
183         5
164         5
387         5
201         5
380         5
377         5
372         5
438         5
206         5
375         5
464         5
348         5
356         6
481         6
242         6
396         6
175         6
256         6
282         6
281         6
420         6
595         6
331         6
618         6
418         6
345         6
262         6
417         6
459         6
269         6
279         6
235         6
346         6
212         6
355         6
222         6
223         6
314         6
313         6
363         6
226         6
450         6
228         6
303         6
402         6
373         6
340         6
208         6
325         6
383         6
456         6
255         7
232         7
173         7
146         7
203         7
178         7
204         7
215         7
239         7
227         7
243         7
305         7
291         7
442         7
320         7
289         7
364         7
266         7
298         7
397         7
302         7
309         7
360         7
315         7
427         7
385         7
280         7
275         7
274         7
440         7
202         8
362         8
191         8
143         8
316         8
295         8
220         8
192         8
184         8
181         8
238         8
163         8
283         8
349         8
254         8
167         8
213         8
292         8
169         8
400         8
174         8
176         8
177         8
244         8
391         8
415         8
218         8
361         9
205         9
189         9
188         9
390         9
168         9
165         9
139         9
199         9
152         9
158         9
240         9
234         9
225         9
248         9
249         9
252         9
253         9
250         9
257         9
216         9
272         9
221         9
155        10
179        10
137        10
285        10
246        10
245        10
286        10
270        10
209        10
151        10
211        10
159        10
330        10
217        10
294        10
304        10
193        10
154        10
196        10
153        10
224        10
142        11
258        11
147        11
136        11
119        11
185        11
170        11
133        11
194        11
233        11
180        11
290        11
134        11
187        11
251        11
197        11
148        12
145        12
161        12
171        12
198        12
350        12
210        12
214        12
111        12
237        12
98         12
124        13
141        13
268        13
132        13
284        13
144        13
166        13
182        13
186        13
230        14
116        14
125        14
128        14
129        14
190        14
149        14
138        14
130        15
162        15
150        15
114        15
135        15
122        15
104        15
103        16
109        16
157        16
118        16
107        16
195        16
160        16
97         17
113        17
112        17
117        18
123        18
127        18
108        18
121        18
101        19
96         19
131        19
140        19
66         19
115        19
92         20
102        20
91         20
57         21
56         21
71         21
99         21
126        21
62         22
68         22
88         22
120        23
67         23
105        23
106        23
81         23
200        24
74         24
49         24
87         24
59         25
69         25
51         26
60         26
95         26
63         26
83         27
86         27
76         27
65         27
52         27
93         28
44         28
89         28
75         28
79         28
94         29
77         29
64         30
42         30
43         31
41         31
84         31
72         32
39         32
61         32
100        33
70         33
82         33
58         33
47         34
110        34
73         34
46         35
48         35
78         35
54         36
45         36
90         36
53         37
55         38
38         38
34         39
33         40
85         41
31         42
37         43
26         46
80         47
36         50
28         51
27         52
24         52
40         53
50         53
29         53
35         60
23         61
32         61
25         61
22         63
21         64
19         72
17         72
18         75
30         80
20         81
16         92
13        108
15        109
14        113
12        118
11        148
9         169
1         179
8         197
10        201
7         230
6         273
4         276
2         298
3         310
5         337
0        2096
Name: count, dtype: int64

In [30]:
df_merged_sort_01 = df_merged_flt.sort_values(by='A22309_F1310', ascending=True)

In [26]:
df_sorted_fltrd = df_merged_flt.head(500)

In [32]:
df_merged_sort_01['A22309_F1310'].value_counts(ascending=True)

A22309_F1310
26979       1
998         1
999         1
1000        1
1002        1
386         1
384         1
1016        1
1018        1
378         1
1023        1
1029        1
1031        1
1036        1
1038        1
1039        1
1043        1
1047        1
1048        1
1049        1
1062        1
1063        1
1068        1
1071        1
1074        1
1075        1
1088        1
1090        1
1092        1
1094        1
394         1
1096        1
989         1
985         1
911         1
912         1
913         1
915         1
449         1
918         1
922         1
928         1
436         1
930         1
931         1
936         1
940         1
421         1
943         1
944         1
949         1
950         1
952         1
414         1
956         1
957         1
962         1
969         1
970         1
974         1
981         1
982         1
399         1
987         1
1098        1
1100        1
1102        1
1224        1
1225        1
1227        1
1229        1
1235        1
1237        1
1239        1
1240        1
1241        1
1249        1
1255        1
1264        1
1270        1
1271        1
1277        1
1279        1
1280        1
1282        1
1283        1
1285        1
1289        1
1290        1
1291        1
1294        1
1295        1
1302        1
1306        1
1308        1
1310        1
1218        1
1209        1
1205        1
1204        1
1108        1
1110        1
1112        1
1113        1
747         1
334         1
1126        1
1128        1
1132        1
329         1
1135        1
1137        1
1141        1
1144        1
907         1
1153        1
1157        1
1158        1
1161        1
1166        1
1169        1
1178        1
1185        1
1186        1
1187        1
1188        1
1189        1
1192        1
1198        1
1200        1
1154        1
906         1
904         1
460         1
651         1
649         1
646         1
644         1
775         1
776         1
638         1
778         1
630         1
623         1
622         1
620         1
782         1
616         1
783         1
16863       1
612         1
611         1
609         1
789         1
606         1
790         1
603         1
602         1
792         1
793         1
599         1
796         1
597         1
653         1
660         1
765         1
665         1
745         1
744         1
743         1
742         1
741         1
751         1
736         1
734         1
731         1
726         1
752         1
724         1
721         1
709         1
799         1
708         1
703         1
698         1
693         1
688         1
686         1
685         1
682         1
679         1
761         1
673         1
672         1
670         1
763         1
667         1
706         1
1319        1
594         1
590         1
849         1
521         1
852         1
518         1
855         1
856         1
857         1
508         1
503         1
861         1
863         1
867         1
494         1
870         1
489         1
879         1
880         1
882         1
883         1
884         1
886         1
890         1
475         1
891         1
470         1
895         1
897         1
901         1
462         1
848         1
845         1
526         1
841         1
800         1
801         1
585         1
805         1
577         1
808         1
575         1
815         1
572         1
568         1
818         1
819         1
563         1
562         1
592         1
821         1
825         1
555         1
553         1
552         1
548         1
828         1
544         1
833         1
542         1
834         1
840         1
535         1
532         1
531         1
559         1
1321        1
1117        1
1324        1
2887        1
2880        1
2866        1
2855        1
2819        1
2741        1
2906        1
2735        1
2680        1
2656        1
2654        1
2633        1
2612        1
2592        1
2723        1
2907        1
2940        1
2960        1
3277        1
3268        1
3253        1
3210        1
3207        1
3195        1
3145        1
3135        1
3127        1
3117        1
3099        1
3035        1
3034        1
3021        1
3013        1
2565        1
2559        1
2535        1
2520        1
2250        1
2248        1
2239        1
2227        1
2213        1
2206        1
2193        1
2187        1
2182        1
2158        1
2155        1
2141        1
2137        1
2123        1
2122        1
2258        1
3295        1
2265        1
2279        1
2512        1
2502        1
2489        1
2457        1
2455        1
2451        1
2437        1
2430        1
2407        1
1322        1
2405        1
2404        1
2309        1
2300        1
2280        1
2266        1
2112        1
3325        1
3368        1
5996        1
5856        1
5830        1
5723        1
5625        1
5605        1
6047        1
5558        1
5405        1
5323        1
5271        1
4908        1
4856        1
4843        1
5446        1
6688        1
7121        1
7156        1
16467       1
14492       1
14309       1
13945       1
13000       1
12111       1
10915       1
10820       1
10421       1
9501        1
9418        1
8575        1
8254        1
7595        1
7293        1
4740        1
4726        1
4716        1
4647        1
3868        1
3861        1
3858        1
3805        1
3792        1
3775        1
3711        1
3705        1
3642        1
3588        1
3546        1
3502        1
3501        1
3467        1
3404        1
3870        1
3332        1
3871        1
4044        1
4477        1
4431        1
4396        1
4353        1
4339        1
4335        1
4331        1
4308        1
4284        1
4213        1
4203        1
4202        1
4178        1
4076        1
4065        1
3962        1
2109        1
750         1
1631        1
1731        1
1732        1
1735        1
1478        1
1477        1
1771        1
1475        1
1470        1
1779        1
1781        1
1466        1
1797        1
1480        1
1800        1
1465        1
1439        1
1533        1
1430        1
1428        1
1425        1
1819        1
1827        1
1422        1
1416        1
1849        1
1412        1
1805        1
1730        1
1728        1
1707        1
1541        1
1545        1
1553        1
1557        1
1564        1
1526        1
1567        1
1520        1
1510        1
1575        1
1577        1
1507        1
1505        1
1504        1
1503        1
1578        1
1596        1
1621        1
1623        1
2101        1
1644        1
1651        1
1654        1
1496        1
1493        1
1703        1
1482        1
1404        1
1866        1
1532        1
1346        1
1909        1
2038        1
1928        1
1384        1
2000        1
2007        1
1987        1
1350        1
2035        1
1370        1
1929        1
1356        1
1954        1
2023        1
1362        1
1360        1
1958        1
1385        1
1358        1
1957        1
1333        1
2096        1
1867        1
1398        1
1396        1
1874        1
1337        1
2061        1
1897        1
1885        1
1326        1
1390        1
2043        1
1387        1
2011        1
1904        1
1903        1
722         2
621         2
723         2
1484        2
1365        2
681         2
784         2
1497        2
729         2
615         2
1353        2
1301        2
740         2
322         2
1524        2
1318        2
746         2
728         2
718         2
633         2
715         2
707         2
650         2
1210        2
655         2
766         2
1219        2
648         2
662         2
697         2
287         2
762         2
1411        2
675         2
760         2
753         2
647         2
1372        2
1473        2
624         2
626         2
780         2
628         2
631         2
632         2
684         2
714         2
636         2
637         2
712         2
307         2
641         2
642         2
710         2
716         2
663         2
948         2
593         2
469         2
892         2
2375        2
474         2
992         2
392         2
1010        2
482         2
484         2
1014        2
1859        2
492         2
493         2
381         2
497         2
864         2
1143        2
860         2
505         2
466         2
900         2
461         2
984         2
423         2
938         2
428         2
934         2
430         2
433         2
434         2
437         2
929         2
506         2
926         2
443         2
444         2
920         2
446         2
916         2
964         2
406         2
451         2
910         2
925         2
507         2
379         2
509         2
1818        2
832         2
547         2
550         2
551         2
351         2
558         2
1691        2
561         2
358         2
570         2
339         2
338         2
803         2
583         2
584         2
587         2
1120        2
591         2
333         2
341         2
359         2
477         2
513         2
369         2
524         2
843         2
540         2
2650        2
514         2
1776        2
1041        2
371         2
533         2
534         2
511         2
1810        2
1770        2
837         2
835         2
365         2
942         3
955         3
899         3
961         3
1400        3
754         3
824         3
827         3
1073        3
1056        3
876         3
986         3
613         3
725         3
332         3
472         3
479         3
319         3
483         3
485         3
318         3
490         3
467         3
496         3
311         3
501         3
504         3
516         3
517         3
519         3
310         3
523         3
498         3
525         3
463         3
347         3
416         3
403         3
401         3
398         3
393         3
389         3
429         3
376         3
344         3
374         3
439         3
156         3
207         3
448         3
452         3
353         3
455         3
457         3
370         3
527         3
510         3
536         3
530         3
600         3
601         3
605         3
608         3
610         3
627         3
589         3
634         3
656         3
661         3
271         3
674         3
680         3
683         3
700         3
640         3
586         3
598         3
574         3
545         3
560         3
564         3
565         3
247         3
576         3
236         3
541         3
539         3
578         3
308         3
300         4
296         4
263         4
405         4
388         4
407         4
297         4
261         4
395         4
327         4
366         4
368         4
367         4
326         4
260         4
276         4
354         4
352         4
277         4
343         4
336         4
219         4
259         4
328         4
288         4
410         4
265         4
473         4
431         4
465         4
432         4
441         4
538         4
445         4
546         4
500         4
488         4
480         4
454         4
476         4
458         4
468         4
447         4
556         4
543         4
419         4
426         4
668         4
814         4
643         4
671         4
422         4
614         4
557         4
413         4
425         4
264         5
412         5
324         5
323         5
321         5
273         5
335         5
478         5
241         5
312         5
522         5
278         5
580         5
306         5
229         5
301         5
737         5
299         5
231         5
549         5
293         5
317         5
337         5
411         5
342         5
409         5
172         5
404         5
267         5
183         5
164         5
387         5
201         5
380         5
377         5
372         5
438         5
206         5
375         5
464         5
348         5
356         6
481         6
242         6
396         6
175         6
256         6
282         6
281         6
420         6
595         6
331         6
618         6
418         6
345         6
262         6
417         6
459         6
269         6
279         6
235         6
346         6
212         6
355         6
222         6
223         6
314         6
313         6
363         6
226         6
450         6
228         6
303         6
402         6
373         6
340         6
208         6
325         6
383         6
456         6
255         7
232         7
173         7
146         7
203         7
178         7
204         7
215         7
239         7
227         7
243         7
305         7
291         7
442         7
320         7
289         7
364         7
266         7
298         7
397         7
302         7
309         7
360         7
315         7
427         7
385         7
280         7
275         7
274         7
440         7
202         8
362         8
191         8
143         8
316         8
295         8
220         8
192         8
184         8
181         8
238         8
163         8
283         8
349         8
254         8
167         8
213         8
292         8
169         8
400         8
174         8
176         8
177         8
244         8
391         8
415         8
218         8
361         9
205         9
189         9
188         9
390         9
168         9
165         9
139         9
199         9
152         9
158         9
240         9
234         9
225         9
248         9
249         9
252         9
253         9
250         9
257         9
216         9
272         9
221         9
155        10
179        10
137        10
285        10
246        10
245        10
286        10
270        10
209        10
151        10
211        10
159        10
330        10
217        10
294        10
304        10
193        10
154        10
196        10
153        10
224        10
142        11
258        11
147        11
136        11
119        11
185        11
170        11
133        11
194        11
233        11
180        11
290        11
134        11
187        11
251        11
197        11
148        12
145        12
161        12
171        12
198        12
350        12
210        12
214        12
111        12
237        12
98         12
124        13
141        13
268        13
132        13
284        13
144        13
166        13
182        13
186        13
230        14
116        14
125        14
128        14
129        14
190        14
149        14
138        14
130        15
162        15
150        15
114        15
135        15
122        15
104        15
103        16
109        16
157        16
118        16
107        16
195        16
160        16
97         17
113        17
112        17
117        18
123        18
127        18
108        18
121        18
101        19
96         19
131        19
140        19
66         19
115        19
92         20
102        20
91         20
57         21
56         21
71         21
99         21
126        21
62         22
68         22
88         22
120        23
67         23
105        23
106        23
81         23
200        24
74         24
49         24
87         24
59         25
69         25
51         26
60         26
95         26
63         26
83         27
86         27
76         27
65         27
52         27
93         28
44         28
89         28
75         28
79         28
94         29
77         29
64         30
42         30
43         31
41         31
84         31
72         32
39         32
61         32
100        33
70         33
82         33
58         33
47         34
110        34
73         34
46         35
48         35
78         35
54         36
45         36
90         36
53         37
55         38
38         38
34         39
33         40
85         41
31         42
37         43
26         46
80         47
36         50
28         51
27         52
24         52
40         53
50         53
29         53
35         60
23         61
32         61
25         61
22         63
21         64
19         72
17         72
18         75
30         80
20         81
16         92
13        108
15        109
14        113
12        118
11        148
9         169
1         179
8         197
10        201
7         230
6         273
4         276
2         298
3         310
5         337
0        2096
Name: count, dtype: int64

In [33]:
df_merged_sort_01.shape

(11994, 1217)

In [ ]:
def format_columns(data, columns_to_format):
    # Standardize columns with 6 digits and leading zeros
    for column in columns_to_format['leading_zeros_6_digits']:
        if column in data.columns:
            data[column] = data[column].apply(lambda x: str(int(x)).zfill(6) if not pd.isnull(x) else x)
            print(f"Formatted {column} to have 6 digits with leading zeros.")
        else:
            print(f"Column '{column}' not found in the DataFrame.")

    # Standardize columns with 5 digits and leading zeros
    for column in columns_to_format['leading_zeros_5_digits']:
        if column in data.columns:
            data[column] = data[column].apply(lambda x: str(int(x)).zfill(5) if not pd.isnull(x) else x)
            print(f"Formatted {column} to have 5 digits with leading zeros.")
        else:
            print(f"Column '{column}' not found in the DataFrame.")
            
    # Standardize columns with 2 digits and leading zeros
    for column in columns_to_format['leading_zeros_2_digits']:
        if column in data.columns:
            data[column] = data[column].apply(lambda x: str(int(x)).zfill(2) if not pd.isnull(x) else x)
            print(f"Formatted {column} to have 2 digits with leading zeros.")
        else:
            print(f"Column '{column}' not found in the DataFrame.")

    # Convert columns to specific formats
    for column, data_type in columns_to_format['data_types'].items():
        if column in data.columns:
            if data_type == int:
                data[column] = data[column].apply(lambda x: int(x) if pd.notnull(x) and str(x).isdigit() else x)
                print(f"Converted {column} to {data_type}.")
            else:
                data[column] = data[column].astype(data_type)
                print(f"Converted {column} to {data_type}.")
        else:
            print(f"Column '{column}' not found in the DataFrame.")

    # Standardize columns with 7 digits and two decimal places (string)
    for column in columns_to_format['standardize_7_digits']:
        if column in data.columns:
            data[column] = data[column].apply(lambda x: f"{float(x):08.2f}" if pd.notnull(x) and (isinstance(x, float) or (isinstance(x, str) and x.replace('.', '', 1).isdigit())) else x)
            print(f"Standardized {column} to have 7 digits and two decimal places.")
        else:
            print(f"Column '{column}' not found in the DataFrame.")

    # Return the modified DataFrame
    return data



columns_to_format_01 = {
    'leading_zeros_6_digits': [],
    'leading_zeros_5_digits': [],
    'leading_zeros_2_digits': [],
    'standardize_7_digits': [],
    'data_types': {
        'MSIC2008_present': int,
#         'G1': int,
#         'G2': str,
#         'G4a': int
    }
}

columns_to_format_02 = {
    'leading_zeros_6_digits': [],
    'leading_zeros_5_digits': ['KOD_MSIC'],
    'leading_zeros_2_digits': [],
    'standardize_7_digits': [],
    'data_types': {
        
    }
}

columns_to_format_03 = {
    'leading_zeros_6_digits': [],
    'leading_zeros_5_digits': [],
    'leading_zeros_2_digits': [],
    'standardize_7_digits': [],
    'data_types': {
        
    }
}

In [ ]:
formatted_data_01 = format_columns(df_merged_flt, columns_to_format_01)
formatted_data_02 = format_columns(df_msic, columns_to_format_02)
formatted_data_03 = format_columns(df_survey, columns_to_format_03)

In [ ]:
df_new = df_merged_flt.head(100)

In [ ]:
df_merged_flt = df_new

In [ ]:
df.shape

In [ ]:
df_merged_flt.head(10)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 01:</b>

In [ ]:
# Create list based on msic code and survey code
msic_code = df_msic["KOD_MSIC"].values.astype(str).tolist()
survey_code = df_survey["KOD"].values.astype(str).tolist()

# Response code and receipt mode
resp_code = [11, 12, 13, 14, 15, 21, 22, 23, 31, 32, 40, 50, 60]
reci_code = [1, 2, 3, 4, 5, 6]

# Main function
def query_01(row):
    if (row['RESPONSE_CODE_present'] in resp_code) + \
       (row['RECEIPT_MODE_present'] in reci_code) + \
       (row['SURVEY_CODE_present'] in survey_code) + \
       (row['MSIC2008_SMPL_present'] in msic_code) + \
       ~(pd.isna(row['MSIC2008_present']) or row['MSIC2008_present'] == ''):
        return 1
    return 0
    
df_merged_flt['QUERY_01'] = df_merged_flt.apply(query_01, axis = 1)
df_merged_flt['QUERY_01'].value_counts(dropna=False)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 02:</b>

In [ ]:
def generate_lists_02(year, quarter,
                      prefix_01='_F0110',
                      prefix_02='_F0710',
                      prefix_03='_F1310'):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)
    
    col_01 = f'A{year}{quarter}{month_quarter[0]}{prefix_01}'
    col_02 = f'A{year}{quarter}{month_quarter[1]}{prefix_02}'
    col_03 = f'A{year}{quarter}{month_quarter[2]}{prefix_03}'
    
    return col_01, col_02, col_03

year = 22
quarter = 3
col_01, col_02, col_03 = generate_lists_02(year, quarter)
print(col_01, col_02, col_03)

In [ ]:
def query_02(df):
    # Initialize 'QUERY_02' column with 0
    df['QUERY_02'] = 0
    
    # Filter the dataframe based on the conditions
    filtered_df = df[(df['RESPONSE_CODE_present'] == 11) & (df['IND_STATUS_present'] == 0)]
    
    # Check for 0 values in the specified columns
    check_columns = [col_01, col_02, col_03]
    zero_value_rows = filtered_df[check_columns].eq(0).any(axis=1)
    
    # Create a new column 'result' in the original dataframe
    df.loc[filtered_df.index, 'QUERY_02'] = zero_value_rows.apply(lambda x: 0 if x else 1)
    
    return df

updated_data = query_02(df_merged_flt)

In [ ]:
# Count the number of 0s and 1s
counts = df_merged_flt['QUERY_02'].value_counts()

# Print the results
if 0 in counts:
    print(f"Number of rows where QUERY_02 = 0 (False): {counts[0]}")
if 1 in counts:
    print(f"Number of rows where QUERY_02 = 1 (True): {counts[1]}")

# Calculate the percentage of rows where FLAG_01 = 1
percentage = counts[1] / len(df_merged_flt) * 100
print(f"Percentage of rows where QUERY_02 = 1: {percentage:.2f}%")

In [ ]:
df_new = df_merged_flt[df_merged_flt['QUERY_02'] == 0]

In [ ]:
df_merged_flt.head(5)

In [ ]:
df_merged_flt[['NEWSSID', 'A22307_F0110', 'A22308_F0710', 'A22309_F1310', 'RESPONSE_CODE_present', 'IND_STATUS_present']].head(5)

In [ ]:
df_merged_flt['IND_STATUS_present'].value_counts(dropna=False)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 03:</b>

In [ ]:
def generate_lists_03(df_merged_flt, quarter, year,
                      A1_past_prefix=None, A1_present_prefix=None,
                      A2_present_prefix=None, A3_present_prefix=None):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)
    past_quarter = quarter - 1  # Calculate previous quarter

    if past_quarter < 1:
        past_quarter = 4  # Wrap around to the fourth quarter if current quarter is 1

    past_month_quarter = get_month_quarter(past_quarter)  # Get month range for previous quarter

    if A1_past_prefix is None:
        A1_past_prefix = past_month_quarter[-1]  # Set A1_past_prefix to the last month of previous quarter
    if A1_present_prefix is None:
        A1_present_prefix = month_quarter[0]
    if A2_present_prefix is None:
        A2_present_prefix = month_quarter[1]
    if A3_present_prefix is None:
        A3_present_prefix = month_quarter[2]

    A1_past_lst = []
    A1_present_lst = []
    A2_present_lst = []
    A3_present_lst = []

    for i in range(1, 11):
        # Subtract 1 from the year only if the quarter is 1
        past_year = year - 1 if quarter == 1 else year
        A1_past_col = f'A{past_year}{past_quarter}{A1_past_prefix}_F13{i:02d}'
        A1_present_col = f'A{year}{quarter}{A1_present_prefix}_F01{i:02d}'
        A2_present_col = f'A{year}{quarter}{A2_present_prefix}_F07{i:02d}'
        A3_present_col = f'A{year}{quarter}{A3_present_prefix}_F13{i:02d}'

        A1_past_lst.append(A1_past_col)
        A1_present_lst.append(A1_present_col)
        A2_present_lst.append(A2_present_col)
        A3_present_lst.append(A3_present_col)

    return A1_past_lst, A1_present_lst, A2_present_lst, A3_present_lst, month_quarter

year = 22
quarter = 3
lists_tuple = generate_lists_03(df_merged_flt, quarter, year)
A1_past_lst, A1_present_lst, A2_present_lst, A3_present_lst, month_quarter = lists_tuple

column_pairs_01 = [(a2, a1) for a1, a2 in zip(A1_past_lst, A1_present_lst)]
column_pairs_02 = [(a2, a1) for a1, a2 in zip(A1_present_lst, A2_present_lst)]
column_pairs_03 = [(a2, a1) for a1, a2 in zip(A2_present_lst, A3_present_lst)]

In [ ]:
def query_03(df, column_pairs):
    growths = {}  # Create an empty dictionary to store the growth calculations
    for col1, col2 in column_pairs:  # Iterate over each column pair
        growth_col = f'QUERY_03_GROWTH{col1}'  # Create the name for the growth column
        result_col = f'QUERY_03_{col1}'  # Create the name for the result column
        growth = ((df[col1] / df[col2]) - 1) * 100  # Calculate the growth
        growths[growth_col] = growth  # Store the growth calculation in the dictionary
        df[result_col] = growth.apply(lambda x: 0 if x <= -30 or x >= 30 else 1)  # Add the result column to the DataFrame with pass/fail values based on the growth calculation
    return df, growths  # Return the updated DataFrame and the dictionary of growth calculations

df, growths_01 = query_03(df_merged_flt, column_pairs_01)
df, growths_02 = query_03(df_merged_flt, column_pairs_02)
df, growths_03 = query_03(df_merged_flt, column_pairs_03)

In [ ]:
df_merged_flt[['NEWSSID', 'A22307_F0101', 'A22206_F1301', 'QUERY_03_A22307_F0101']].head(5)

In [ ]:
df_new = df_merged_flt[df_merged_flt['QUERY_03_A22307_F0102'] == 0]
df_new.shape

In [ ]:
df_new[['NEWSSID', 'A22307_F0102', 'A22206_F1302', 'QUERY_03_A22307_F0102', 'RESPONSE_CODE_present', 'IND_STATUS_present']].head(20)

In [ ]:
df_new

In [ ]:
all_column_pairs = column_pairs_01 + column_pairs_02 + column_pairs_03
df_merged_flt, growths = query_03(df, all_column_pairs)

for i, col_pair in enumerate(all_column_pairs):
    col1, col2 = col_pair
    result_col = f'QUERY_03_{col1}'
    percentage = df[result_col].value_counts(normalize=True)[1] * 100
    print(f'{i+1}. Results for {col1} and {col2}:')
    print(df[result_col].value_counts())
    print(f'Percentage of rows where {result_col} is pass: {percentage:.2f}%\n')

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 04:</b>

In [ ]:
# Modified function
def generate_lists_04(df, year, quarter,
                   A01_prefix=None,
                   A1_prefix=None, A2_prefix=None, A3_prefix=None,
                   C1_prefix=None, C2_prefix=None, C3_prefix=None,
                   X1_prefix=None, X2_prefix=None, X3_prefix=None):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)

    past_quarter = quarter - 1
    if past_quarter < 1:
        past_quarter = 4  # Wrap around to the fourth quarter if current quarter is 1

    past_month_quarter = get_month_quarter(past_quarter)  # Get month range for previous quarter

    if A01_prefix is None:
        A01_prefix = past_month_quarter[-1]
    if A1_prefix is None:
        A1_prefix = month_quarter[0]
    if A2_prefix is None:
        A2_prefix = month_quarter[1]
    if A3_prefix is None:
        A3_prefix = month_quarter[2]
    if C1_prefix is None:
        C1_prefix = month_quarter[0]
    if C2_prefix is None:
        C2_prefix = month_quarter[1]
    if C3_prefix is None:
        C3_prefix = month_quarter[2]
    if X1_prefix is None:
        X1_prefix = month_quarter[0]
    if X2_prefix is None:
        X2_prefix = month_quarter[1]
    if X3_prefix is None:
        X3_prefix = month_quarter[2]

    A01_lst = []
    A1_lst = []
    A2_lst = []
    A3_lst = []
    C1_lst = []
    C2_lst = []
    C3_lst = []
    X1_lst = []
    X2_lst = []
    X3_lst = []

    for i in range(1, 11):
        past_year = year - 1 if quarter == 1 else year  # Subtract 1 from the year only if the quarter is 1
        A01_col = f'A{past_year}{past_quarter}{A01_prefix}_F13{i:02d}'
        A1_col = f'A{year}{quarter}{A1_prefix}_F01{i:02d}'
        A2_col = f'A{year}{quarter}{A2_prefix}_F07{i:02d}'
        A3_col = f'A{year}{quarter}{A3_prefix}_F13{i:02d}'
        C1_col = f'C{year}{quarter}{C1_prefix}_F03{i:02d}'
        C2_col = f'C{year}{quarter}{C2_prefix}_F09{i:02d}'
        C3_col = f'C{year}{quarter}{C3_prefix}_F15{i:02d}'
        X1_col = f'X{year}{quarter}{X1_prefix}_F62{i:02d}'
        X2_col = f'X{year}{quarter}{X2_prefix}_F63{i:02d}'
        X3_col = f'X{year}{quarter}{X3_prefix}_F64{i:02d}'

        A01_lst.append(A01_col)
        A1_lst.append(A1_col)
        A2_lst.append(A2_col)
        A3_lst.append(A3_col)
        C1_lst.append(C1_col)
        C2_lst.append(C2_col)
        C3_lst.append(C3_col)
        X1_lst.append(X1_col)
        X2_lst.append(X2_col)
        X3_lst.append(X3_col)

    return A01_lst, A1_lst, A2_lst, A3_lst, C1_lst, C2_lst, C3_lst, X1_lst, X2_lst, X3_lst

year = 22
quarter = 3
lists_tuple = generate_lists_04(df_merged_flt, year, quarter)
A01_lst, A1_lst, A2_lst, A3_lst, C1_lst, C2_lst, C3_lst, X1_lst, X2_lst, X3_lst = lists_tuple

print(f"List 01 = {A01_lst}")
print(f"List 02 = {A1_lst}")

In [ ]:
def main_validation_04(row, A01_col, A1_col, C1_col, X1_col):
    """
    Perform the main validation using the columns generated from the generate_lists_04 function.
    
    Parameters:
    - row: A row from the DataFrame.
    - A01_col: Column name representing the previous month's employee count.
    - A1_col: Column name representing the current month's employee count.
    - C1_col: Column name representing the current month's hiring count.
    - X1_col: Column name representing the current month's total termination count.

    Returns:
    - 1 if the row passes the validation.
    - 0 if the row fails the validation.
    """
    XXX = row[A1_col] + (row[C1_col] - row[X1_col])

    # Determine result based on XXX and A01 (employee count from the last month)
    if XXX > row[A01_col]:
        result = 1 if (row[A1_col] == row[A01_col] + row[C1_col]) else 0
    else:
        result = 1 if (row[A1_col] == row[A01_col] - row[X1_col]) else 0

    return result

In [ ]:
validation_results = {}

for A01, A1, C1, X1 in zip(A01_lst, A1_lst, C1_lst, X1_lst):
    if all(col in df_merged_flt.columns for col in [A01, A1, C1, X1]):  # Check if required columns are present
        column_name = f"QUERY_04_{A1[-5:]}"  # Naming convention for the result column
        validation_results[column_name] = df_merged_flt.apply(main_validation_04, 
                                                        A01_col=A01, A1_col=A1, 
                                                        C1_col=C1, X1_col=X1, 
                                                        axis=1)

# Add the validation results to the dataset
for column, result in validation_results.items():
    df_merged_flt[column] = result

In [ ]:
print(df_merged_flt[list(validation_results.keys())].head())

In [ ]:
df_merged_flt.head(10)

In [ ]:
df_merged_flt['QUERY_04_F0103'].value_counts()

In [ ]:
def query_04_01(row,
             A01_lst,
             A1_lst, A2_lst, A3_lst,
             C1_lst, C2_lst, C3_lst,
             X1_lst, X2_lst, X3_lst):
    results = {}
    
    for i in range(10):
        # Get column names from generated lists
        A01_col = A01_lst[i]
        A1_col = A1_lst[i]
        A2_col = A2_lst[i]
        A3_col = A3_lst[i]
        C1_col = C1_lst[i]
        C2_col = C2_lst[i]
        C3_col = C3_lst[i]
        X1_col = X1_lst[i]
        X2_col = X2_lst[i]
        X3_col = X3_lst[i]
        
        XYZ = row[A1_col] + row[C1_col] - row[X1_col]

        if XYZ > row[A01_col]:
            XYZ_C = XYZ + row[C1_col]
            if XYZ_C == row[A1_col]:
                results[f'QUERY_04_{A1_col}_{X1_col}'] = 0
            else:
                results[f'QUERY_04_{A1_col}_{X1_col}'] = 1
        elif XYZ < row[A01_col]:
            XYZ_X = XYZ - row[X1_col]
            if XYZ_X == row[A1_col]:
                results[f'QUERY_04_{A1_col}_{X1_col}'] = 0
            else:
                results[f'QUERY_04_{A1_col}_{X1_col}'] = 1
        else:
            results[f'QUERY_04_{A1_col}_{X1_col}'] = 1

    return pd.Series(results)

results_growth_01 = df_merged_flt.apply(lambda row: query_04_01(row,
                                                                A01_lst,
                                                                A1_lst, A2_lst, A3_lst,
                                                                C1_lst, C2_lst, C3_lst,
                                                                X1_lst, X2_lst, X3_lst), 
                                        axis=1)

df_merged_flt[results_growth_01.columns] = results_growth_01

In [ ]:
# loop through each of the 10 new columns
for col in results_growth_01.columns:
    # count the number of passes and fails
    pass_count = results_growth_01[col].value_counts().get(1, 0)
    fail_count = results_growth_01[col].value_counts().get(0, 0)
    total_count = pass_count + fail_count
    
    # calculate pass and fail percentages
    pass_pct = pass_count / total_count * 100 if total_count > 0 else 0
    fail_pct = fail_count / total_count * 100 if total_count > 0 else 0
    
    # print the results
    print(f"{col}: Pass={pass_pct:.2f}% ({pass_count}) Fail={fail_pct:.2f}% ({fail_count})")

In [ ]:
df_new = df_merged_flt[df_merged_flt['QUERY_04_A22307_F0101_X22307_F6201'] == 0]

In [ ]:
df_new[['NEWSSID', 'A22307_F0101', 'X22307_F6201', 'QUERY_04_A22307_F0101_X22307_F6201', 'RESPONSE_CODE_present']].head(20)

In [ ]:
df_01 = df_merged_flt[df_merged_flt['NEWSSID'] == 50609]

df_01[['NEWSSID', 'A22307_F0101', 'A22206_F1301', 'C22307_F0301', 'X22307_F6201', 'QUERY_04_A22307_F0101_X22307_F6201']].head(5)

In [ ]:
def query_04_02(row,
                     A1_lst, A2_lst, A3_lst,
                     C1_lst, C2_lst, C3_lst,
                     X1_lst, X2_lst, X3_lst):
    results = {}
    
    for i in range(10):
        # Get column names from generated lists
        A01_col = A01_lst[i]
        A1_col = A1_lst[i]
        A2_col = A2_lst[i]
        A3_col = A3_lst[i]
        C1_col = C1_lst[i]
        C2_col = C2_lst[i]
        C3_col = C3_lst[i]
        X1_col = X1_lst[i]
        X2_col = X2_lst[i]
        X3_col = X3_lst[i]
        
        XYZ = row[A2_col] + row[C2_col] - row[X2_col]

        if XYZ > row[A1_col]:
            XYZ_C = XYZ + row[C2_col]
            if XYZ_C == row[A2_col]:
                results[f'QUERY_04_{A2_col}_{X2_col}'] = 0
            else:
                results[f'QUERY_04_{A2_col}_{X2_col}'] = 1
        elif XYZ < row[A1_col]:
            XYZ_X = XYZ - row[X2_col]
            if XYZ_X == row[A2_col]:
                results[f'QUERY_04_{A2_col}_{X2_col}'] = 0
            else:
                results[f'QUERY_04_{A2_col}_{X2_col}'] = 1
        else:
            results[f'QUERY_04_{A2_col}_{X2_col}'] = 1

    return pd.Series(results)

results_growth_02 = df_merged_flt.apply(query_04_02, axis=1, args=(A1_lst, A2_lst, A3_lst, 
                                                                  C1_lst, C2_lst, C3_lst,
                                                                  X1_lst, X2_lst, X3_lst))
df_merged_flt[results_growth_02.columns]=results_growth_02

In [ ]:
# loop through each of the 10 new columns
for col in results_growth_02.columns:
    # count the number of passes and fails
    pass_count = results_growth_02[col].value_counts().get(1, 0)
    fail_count = results_growth_02[col].value_counts().get(0, 0)
    total_count = pass_count + fail_count
    
    # calculate pass and fail percentages
    pass_pct = pass_count / total_count * 100 if total_count > 0 else 0
    fail_pct = fail_count / total_count * 100 if total_count > 0 else 0
    
    # print the results
    print(f"{col}: Pass={pass_pct:.2f}% ({pass_count}) Fail={fail_pct:.2f}% ({fail_count})")

In [ ]:
def query_04_03(row,
                     A1_lst, A2_lst, A3_lst,
                     C1_lst, C2_lst, C3_lst,
                     X1_lst, X2_lst, X3_lst):
    results = {}
    
    for i in range(10):
        # Get column names from generated lists
        A1_col = A1_lst[i]
        A2_col = A2_lst[i]
        A3_col = A3_lst[i]
        C1_col = C1_lst[i]
        C2_col = C2_lst[i]
        C3_col = C3_lst[i]
        X1_col = X1_lst[i]
        X2_col = X2_lst[i]
        X3_col = X3_lst[i]
        
        XYZ = row[A3_col] + row[C3_col] - row[X3_col]

        if XYZ > row[A2_col]:
            XYZ_C = XYZ + row[C3_col]
            if XYZ_C == row[A3_col]:
                results[f'QUERY_04_{A3_col}_{X3_col}'] = 0
            else:
                results[f'QUERY_04_{A3_col}_{X3_col}'] = 1
        elif XYZ < row[A1_col]:
            XYZ_X = XYZ - row[X3_col]
            if XYZ_X == row[A3_col]:
                results[f'QUERY_04_{A3_col}_{X3_col}'] = 0
            else:
                results[f'QUERY_04_{A3_col}_{X3_col}'] = 1
        else:
            results[f'QUERY_04_{A3_col}_{X3_col}'] = 1

    return pd.Series(results)

results_growth_03 = df_merged_flt.apply(query_04_03, axis=1, args=(A1_lst, A2_lst, A3_lst, 
                                                                  C1_lst, C2_lst, C3_lst,
                                                                  X1_lst, X2_lst, X3_lst))
df_merged_flt[results_growth_03.columns]=results_growth_03

In [ ]:
# loop through each of the 10 new columns
for col in results_growth_03.columns:
    # count the number of passes and fails
    pass_count = results_growth_03[col].value_counts().get(1, 0)
    fail_count = results_growth_03[col].value_counts().get(0, 0)
    total_count = pass_count + fail_count
    
    # calculate pass and fail percentages
    pass_pct = pass_count / total_count * 100 if total_count > 0 else 0
    fail_pct = fail_count / total_count * 100 if total_count > 0 else 0
    
    # print the results
    print(f"{col}: Pass={pass_pct:.2f}% ({pass_count}) Fail={fail_pct:.2f}% ({fail_count})")

In [ ]:
def print_results(data):
    for col in data.columns:
        # count the number of passes and fails
        pass_count = data[col].value_counts().get(1, 0)
        fail_count = data[col].value_counts().get(0, 0)
        total_count = pass_count + fail_count

        # calculate pass and fail percentages
        pass_pct = pass_count / total_count * 100 if total_count > 0 else 0
        fail_pct = fail_count / total_count * 100 if total_count > 0 else 0

        # print the results
        print(f"{col}: Pass={pass_pct:.2f}% ({pass_count}) Fail={fail_pct:.2f}% ({fail_count})")

In [ ]:
print("Results for growth 01:")
print_results(results_growth_01)

print("Results for growth 02:")
print_results(results_growth_02)

print("Results for growth 03:")
print_results(results_growth_03)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 05:</b>

In [ ]:
def generate_lists_05(df, year, quarter,
                      B01_prefix=None,
                      B1_prefix=None, B2_prefix=None, B3_prefix=None,
                      C1_prefix=None, C2_prefix=None, C3_prefix=None,
                      X1_prefix=None, X2_prefix=None, X3_prefix=None):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)
    
    past_quarter = quarter - 1
    if past_quarter < 1:
        past_quarter = 4  # Wrap around to the fourth quarter if current quarter is 
        
    past_month_quarter = get_month_quarter(past_quarter)  # Get month range for previous quarter

    if B01_prefix is None:
        B01_prefix = past_month_quarter[-1]
    if B1_prefix is None:
        B1_prefix = month_quarter[0]
    if B2_prefix is None:
        B2_prefix = month_quarter[1]
    if B3_prefix is None:
        B3_prefix = month_quarter[2]
    if C1_prefix is None:
        C1_prefix = month_quarter[0]
    if C2_prefix is None:
        C2_prefix = month_quarter[1]
    if C3_prefix is None:
        C3_prefix = month_quarter[2]
    if X1_prefix is None:
        X1_prefix = month_quarter[0]
    if X2_prefix is None:
        X2_prefix = month_quarter[1]
    if X3_prefix is None:
        X3_prefix = month_quarter[2]

    B01_lst = []
    B1_lst = []
    B2_lst = []
    B3_lst = []
    C1_lst = []
    C2_lst = []
    C3_lst = []
    X1_lst = []
    X2_lst = []
    X3_lst = []

    for i in range(1, 11):
        past_year = year - 1 if quarter == 1 else year  # Subtract 1 from the year only if the quarter is 1
        B01_col = f'B{past_year}{past_quarter}{B01_prefix}_F14{i:02d}'
        B1_col = f'B{year}{quarter}{B1_prefix}_F02{i:02d}'
        B2_col = f'B{year}{quarter}{B2_prefix}_F08{i:02d}'
        B3_col = f'B{year}{quarter}{B3_prefix}_F14{i:02d}'
        C1_col = f'C{year}{quarter}{C1_prefix}_F03{i:02d}'
        C2_col = f'C{year}{quarter}{C2_prefix}_F09{i:02d}'
        C3_col = f'C{year}{quarter}{C3_prefix}_F15{i:02d}'
        X1_col = f'X{year}{quarter}{X1_prefix}_F62{i:02d}'
        X2_col = f'X{year}{quarter}{X2_prefix}_F63{i:02d}'
        X3_col = f'X{year}{quarter}{X3_prefix}_F64{i:02d}'

        B01_lst.append(B01_col)
        B1_lst.append(B1_col)
        B2_lst.append(B2_col)
        B3_lst.append(B3_col)
        C1_lst.append(C1_col)
        C2_lst.append(C2_col)
        C3_lst.append(C3_col)
        X1_lst.append(X1_col)
        X2_lst.append(X2_col)
        X3_lst.append(X3_col)

    return B01_lst, B1_lst, B2_lst, B3_lst, C1_lst, C2_lst, C3_lst, X1_lst, X2_lst, X3_lst

year = 22
quarter = 3
lists_tuple = generate_lists_05(df_merged_flt, year, quarter)
B01_lst, B1_lst, B2_lst, B3_lst, C1_lst, C2_lst, C3_lst, X1_lst, X2_lst, X3_lst = lists_tuple      

print(f"List 01 = {B01_lst}")
print(f"List 02 = {B1_lst}")
print(f"List 02 = {C1_lst}")

In [ ]:
def query_05_01(row,
                A01_lst, B01_lst,
                A1_lst, A2_lst, A3_lst,
                B1_lst, B2_lst, B3_lst,
                C1_lst, C2_lst, C3_lst,
                X1_lst, X2_lst, X3_lst):
    
    results = {}  # Create an empty dictionary to store the results
    
    for i in range(10):  # Iterate over the range of 10
        # Get column names from generated lists
        A01_col = A01_lst[i]  # Get the column name from the A01_lst
        B01_col = B01_lst[i]  # Get the column name from the B01_lst
        A1_col = A1_lst[i]  # Get the column name from the A1_lst
        A2_col = A2_lst[i]  # Get the column name from the A2_lst
        A3_col = A3_lst[i]  # Get the column name from the A3_lst
        B1_col = B1_lst[i]  # Get the column name from the B1_lst
        B2_col = B2_lst[i]  # Get the column name from the B2_lst
        C1_col = C1_lst[i]  # Get the column name from the C1_lst
        C2_col = C2_lst[i]  # Get the column name from the C2_lst
        C3_col = C3_lst[i]  # Get the column name from the C3_lst
        X1_col = X1_lst[i]  # Get the column name from the X1_lst
        X2_col = X2_lst[i]  # Get the column name from the X2_lst
        X3_col = X3_lst[i]  # Get the column name from the X3_lst
    
        vacancy_present_01 = (row[B01_col] - row[C1_col]) + row[X1_col] # Calculate vacancy_present_01
        
        if vacancy_present_01 == row[B1_col]:  # Check if vacancy_present_01 is equal to the value in the B1_col column
            results[f'QUERY_05_{A1_col}'] = 0  # Set the value of the corresponding QUERY_05_{A1_col} column to 1
        else:
            results[f'QUERY_05_{A1_col}'] = 1  # Set the value of the corresponding QUERY_05_{A1_col} column to 0
        
    return pd.Series(results)  # Return a Series containing the results

results_vacant_01 = df_merged_flt.apply(lambda row: query_05_01(row,
                                                                A01_lst, B01_lst,
                                                                A1_lst, A2_lst, A3_lst,
                                                                B1_lst, B2_lst, B3_lst,
                                                                C1_lst, C2_lst, C3_lst,
                                                                X1_lst, X2_lst, X3_lst), 
                                        axis=1)

# Assign the calculated values to the present DataFrame
df_merged_flt[results_vacant_01.columns] = results_vacant_01

In [ ]:
B01_lst

In [ ]:
df_new = df_merged_flt[df_merged_flt['QUERY_05_A22307_F0102'] == 0]

In [ ]:
df_new[['NEWSSID', 'A22307_F0102', 'B22206_F1402', 'B22307_F0202', 'C22307_F0302', 'X22307_F6202', 'QUERY_05_A22307_F0102', 'RESPONSE_CODE_present']].head(20)

In [ ]:
df_merged_flt.head(2)

In [ ]:
df_01 = df_merged_flt[df_merged_flt['NEWSSID'] == 60214]

df_01[['NEWSSID',  'A22206_F1302', 'A22307_F0102', 'B22206_F1402', 'B22307_F0202', 'C22307_F0301', 'X22307_F6201', 'QUERY_04_A22307_F0101_X22307_F6201']].head(5)

In [ ]:
60214

def query_05_02(row,
                A01_lst, B01_lst,
                A1_lst, A2_lst, A3_lst,
                B1_lst, B2_lst, B3_lst,
                C1_lst, C2_lst, C3_lst,
                X1_lst, X2_lst, X3_lst):
    
    results = {}  # Create an empty dictionary to store the results
    
    for i in range(10):  # Iterate over the range of 10
        # Get column names from generated lists
        A01_col = A01_lst[i]  # Get the column name from the A1_lst
        B01_col = A01_lst[i]  # Get the column name from the A1_lst
        A1_col = A1_lst[i]  # Get the column name from the A1_lst
        A2_col = A2_lst[i]  # Get the column name from the A2_lst
        A3_col = A3_lst[i]  # Get the column name from the A2_lst
        B1_col = B1_lst[i]  # Get the column name from the B1_lst
        B2_col = B2_lst[i]  # Get the column name from the B2_lst
        C1_col = C1_lst[i]  # Get the column name from the C_lst
        C2_col = C2_lst[i]  # Get the column name from the C_lst
        C3_col = C3_lst[i]  # Get the column name from the C_lst
        X1_col = X1_lst[i]  # Get the column name from the X_lst
        X2_col = X2_lst[i]  # Get the column name from the X_lst
        X3_col = X3_lst[i]  # Get the column name from the X_lst
    
        vacancy_present_02 = (row[B1_col] - row[C2_col]) + row[X2_col]  # Calculate XYZ
    
        if vacancy_present_02 == row[B2_col]:  # Check if XYZ is equal to the value in the B1_col column
            if vacancy_present_02 > row[A2_col]:  # Check if XYZ is greater than the value in the A1_col column
                results[f'QUERY_05_{A2_col}'] = 0  # Set the value of the corresponding FLAG_05_{A1_col} column to 1
            else:
                results[f'QUERY_05_{A2_col}'] = 1  # Set the value of the corresponding FLAG_05_{A1_col} column to 0
        else:
            results[f'QUERY_05_{A2_col}'] = 1  # Set the value of the corresponding FLAG_05_{A1_col} column to 0
        
    return pd.Series(results)  # Return a Series containing the results
        
results_vacant_02 = df_merged_flt.apply(query_05_02, axis=1, args=(A01_lst, B01_lst, A1_lst, A2_lst, A3_lst, B1_lst, B2_lst, B3_lst, C1_lst, C2_lst, C3_lst, X1_lst, X2_lst, X3_lst))  # Apply the function to each row of df_merge_flt and store the results in a new DataFrame
df_merged_flt[results_vacant_02.columns] = results_vacant_02  # Add the columns from results_vacant_02 to df_merge_flt

In [ ]:
q

In [ ]:
def print_results(data):
    for col in data.columns:
        # count the number of passes and fails
        pass_count = data[col].value_counts().get(1, 0)
        fail_count = data[col].value_counts().get(0, 0)
        total_count = pass_count + fail_count

        # calculate pass and fail percentages
        pass_pct = pass_count / total_count * 100 if total_count > 0 else 0
        fail_pct = fail_count / total_count * 100 if total_count > 0 else 0

        # print the results
        print(f"{col}: Pass={pass_pct:.2f}% ({pass_count}) Fail={fail_pct:.2f}% ({fail_count})")

In [ ]:
print("Results for vacant 01:")
print_results(results_vacant_01)

print("Results for vacant 02:")
print_results(results_vacant_02)

print("Results for vacant 03:")
print_results(results_vacant_03)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 06:</b>

In [2]:
def generate_lists_06(df, year, quarter,
                   A1_prefix=None, A2_prefix=None, A3_prefix=None,
                   G1_prefix=None, G2_prefix=None, G3_prefix=None,
                   H1_prefix=None, H2_prefix=None, H3_prefix=None):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)

    if A1_prefix is None:
        A1_prefix = month_quarter[0]
    if A2_prefix is None:
        A2_prefix = month_quarter[1]
    if A3_prefix is None:
        A3_prefix = month_quarter[2]
    if G1_prefix is None:
        G1_prefix = month_quarter[0]
    if G2_prefix is None:
        G2_prefix = month_quarter[1]
    if G3_prefix is None:
        G3_prefix = month_quarter[2]
    if H1_prefix is None:
        H1_prefix = month_quarter[0]
    if H2_prefix is None:
        H2_prefix = month_quarter[1]
    if H3_prefix is None:
        H3_prefix = month_quarter[2]

    A1_lst = []
    A2_lst = []
    A3_lst = []
    G1_lst = []
    G2_lst = []
    G3_lst = []
    H1_lst = []
    H2_lst = []
    H3_lst = []

    for i in range(1, 11):
        A1_col = f'A{year}{quarter}{A1_prefix}_F01{i:02d}'
        A2_col = f'A{year}{quarter}{A2_prefix}_F07{i:02d}'
        A3_col = f'A{year}{quarter}{A3_prefix}_F13{i:02d}'
        G1_col = f'G{year}{quarter}{G1_prefix}_F23{i:02d}'
        G2_col = f'G{year}{quarter}{G2_prefix}_F29{i:02d}'
        G3_col = f'G{year}{quarter}{G3_prefix}_F35{i:02d}'
        H1_col = f'H{year}{quarter}{H1_prefix}_F24{i:02d}'
        H2_col = f'H{year}{quarter}{H2_prefix}_F30{i:02d}'
        H3_col = f'H{year}{quarter}{H3_prefix}_F36{i:02d}'

        A1_lst.append(A1_col)
        A2_lst.append(A2_col)
        A3_lst.append(A3_col)
        G1_lst.append(G1_col)
        G2_lst.append(G2_col)
        G3_lst.append(G3_col)
        H1_lst.append(H1_col)
        H2_lst.append(H2_col)
        H3_lst.append(H3_col)

    return A1_lst, A2_lst, A3_lst, G1_lst, G2_lst, G3_lst, H1_lst, H2_lst, H3_lst

year = 22
quarter = 3
lists_tuple = generate_lists_06(df_merged_flt, year, quarter)
A1_lst, A2_lst, A3_lst, G1_lst, G2_lst, G3_lst, H1_lst, H2_lst, H3_lst = lists_tuple

print(f"List 01 = {A1_lst}")
print(f"List 02 = {A2_lst}")
print(f"List 02 = {A3_lst}")

NameError: name 'df_merged_flt' is not defined

In [3]:
A1_lst

NameError: name 'A1_lst' is not defined

In [ ]:
def query_06(df, A_lsts, G_lsts, H_lsts):
    # Loop through each list of A columns
    for A_lst in A_lsts:
        # Loop through each A column in the current list
        for A_col in A_lst:
            result_col_1 = 'QUERY_06_01_' + A_col 
            result_col_2 = 'QUERY_06_02_' + A_col 
            # Initialize new integer columns in the existing dataframe
            df[result_col_1] = 0
            df[result_col_2] = 0
            # Loop through each row in the dataframe
            for i in range(len(df)):
                row = df.iloc[i]
                # Check if current A column value is 0
                if row[A_col] == 0:
                    # Check if any G or H column in all lists has 0 value
                    g_or_h_zero = any(
                        row[G_col] == 0 or row[H_col] == 0 
                        for G_lst, H_lst in zip(G_lsts, H_lsts) 
                        for G_col, H_col in zip(G_lst, H_lst)
                    )
                    # Set the result column to 1 if any G or H column has 0 value
                    df.at[i, result_col_1] = int(g_or_h_zero)
                # Check if current A column value is not 0
                elif row[A_col] != 0:
                    # Check if any G or H column in all lists has non-zero value
                    g_or_h_not_zero = any(
                        row[G_col] != 0 or row[H_col] != 0 
                        for G_lst, H_lst in zip(G_lsts, H_lsts) 
                        for G_col, H_col in zip(G_lst, H_lst)
                    )
                    # Set the result column to 1 if any G or H column has non-zero value
                    df.at[i, result_col_1] = int(g_or_h_not_zero)
                
                # Calculate x using the modified formula
                x = row[A_col] - sum(
                    row[G_col] + row[H_col]
                    for G_lst, H_lst in zip(G_lsts, H_lsts)
                    for G_col, H_col in zip(G_lst, H_lst)
                )
                
                # Check if x is within 10% of A
                if x > row[A_col] or x < row[A_col] * 0.9:
                    df.at[i, result_col_2] = 1
                else:
                    df.at[i, result_col_2] = 0
                    
query_06(df_merged_flt,
         [A1_lst, A2_lst, A3_lst],
         [G1_lst, G2_lst, G3_lst],
         [H1_lst, H2_lst, H3_lst])

In [ ]:
# Get a list of all result column names
result_cols = ['QUERY_06_01_' + A_col for A_lst in [A1_lst, A2_lst, A3_lst] for A_col in A_lst] + \
              ['QUERY_06_02_' + A_col for A_lst in [A1_lst, A2_lst, A3_lst] for A_col in A_lst]

In [ ]:
for col in result_cols:
    print(col)
    if 1 in df_merged_flt[col].values:
        print(df_merged_flt[col].value_counts())
        print('1: {:.2f}%'.format(df_merged_flt[col].value_counts(normalize=True)[1] * 100))
        if 0 in df_merged_flt[col].values:
            print('0: {:.2f}%'.format(df_merged_flt[col].value_counts(normalize=True)[0] * 100))
        else:
            print('0: 0.00%')
    elif 0 in df_merged_flt[col].values:
        print(df_merged_flt[col].value_counts())
        print('0: {:.2f}%'.format(df_merged_flt[col].value_counts(normalize=True)[0] * 100))
        print('1: 0.00%')
    else:
        print(df_merged_flt[col].value_counts())
        print('1: 100.00%')
        print('0: 0.00%')
    print()

In [ ]:
lst_06 = df_merged_flt.columns[df_merged_flt.columns.str.startswith("QUERY_06")]
lst_06

In [ ]:
lst_06 = df_merged_flt.columns[df_merged_flt.columns.str.startswith("Q22")]
lst_06

In [ ]:
df_new = df_merged_flt[df_merged_flt['QUERY_06_01_A22307_F0109'] == 0]

In [ ]:
df_merged_flt[['A22307_F0109', 'G22307_F2309', 'H22307_F2409', 'QUERY_06_01_A22308_F0705']].head(10)

In [ ]:
df_01 = df_merged_flt[df_merged_flt['NEWSSID'] == 187300]

In [ ]:
df_01[['A22309_F1308', 'G22309_F3508', 'H22309_F3608', 'QUERY_06_01_A22309_F1308']].head(10)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 07:</b>

In [ ]:
def generate_lists_07(df, year, quarter,
                      A_prefix='07', I_prefix='07', J_prefix='07'):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)

    if A_prefix is None:
        A_prefix = month_quarter[0]
    if I_prefix is None:
        I_prefix = month_quarter[1]
    if J_prefix is None:
        J_prefix = month_quarter[2]
    
    A_lst = []
    I_lst = []
    J_lst = []
    
    for i in range(1, 11):
        A_col = f'A{year}{quarter}{A_prefix}_F01{i:02d}'
        I_col = f'I{year}{quarter}{I_prefix}_F25{i:02d}'
        J_col = f'J{year}{quarter}{J_prefix}_F26{i:02d}'

        A_lst.append(A_col)
        I_lst.append(I_col)
        J_lst.append(J_col)

    return A_lst, I_lst, J_lst

year = 22
quarter = 3
lists_tuple = generate_lists_07(df_merged_flt, year, quarter)
A_lst, I_lst, J_lst = lists_tuple

print(f"List 01 = {A_lst}")
print(f"List 02 = {I_lst}")
print(f"List 02 = {J_lst}")

In [ ]:
def query_07(row):
    result = {}
    for a_col, i_col, j_col in zip(A_lst, I_lst, J_lst):
        if row[a_col] == 0:
            result[f'QUERY_07_{a_col}_{i_col}'] = int(row[i_col] == 0 and row[j_col] == 0)
        else:
            result[f'QUERY_07_{a_col}_{i_col}'] = int(row[i_col] != 0 or row[j_col] != 0)
    return pd.Series(result)

df_merged_flt = df_merged_flt.join(df_merged_flt.apply(query_07, axis=1))

In [ ]:
result_cols = [col for col in df_merged_flt.columns if col.startswith('QUERY_07_')]
for col in result_cols:
    counts = df_merged_flt[col].value_counts()
    total = counts.sum()
    percentages = counts / total * 100
    print(f'{col}:')
    for val, count, percent in zip(counts.index, counts.values, percentages.values):
        print(f'  {val}: {count} ({percent:.2f}%)')

In [ ]:
df_new = df_merged_flt[df_merged_flt['QUERY_07_A22307_F0103_I22307_F2503'] == 0]
df_new.head(5)

In [ ]:
df_01 = df_merged_flt[df_merged_flt['NEWSSID'] == 60654]
df_01[['']]

In [ ]:
lst_06 = df_merged_flt.columns[df_merged_flt.columns.str.startswith("I22")]
lst_06

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 08:</b>

In [ ]:
def generate_lists_08(year, quarter,
                      prefix_a_01='07', prefix_a_02='07',
                      prefix_b_01='08', prefix_b_02='08',
                      prefix_c_01='09', prefix_c_02='09'):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)
    
    a_01_col = f'O{year}{quarter}{prefix_a_01}_F4410'
    a_02_col = f'K{year}{quarter}{prefix_a_02}_F2810'
    b_01_col = f'O{year}{quarter}{prefix_b_01}_F5010'
    b_02_col = f'K{year}{quarter}{prefix_b_02}_F3410'
    c_01_col = f'O{year}{quarter}{prefix_c_01}_F5610'
    c_02_col = f'K{year}{quarter}{prefix_c_01}_F4010'

    column_pairs = [(a_01_col, a_02_col), (b_01_col, b_02_col), (c_01_col, c_02_col)]

    return column_pairs

year = 22
quarter = 3
column_pairs = generate_lists_08(year, quarter)

print(f"List Pair = {column_pairs}")

In [ ]:
def query_08(df, column_pairs):
    for pair in column_pairs:
        # Extract column names from the tuple
        col1, col2 = pair
        
        # Check if both columns have null values
        null_values = df[col1].isnull() & df[col2].isnull()
        
        # Create a new column that contains 1 if both columns are not null, have non-zero values, or both are zero
        new_col = (df[col1].notnull() & df[col2].notnull()) | ((df[col1] == 0) & (df[col2] == 0))
        new_col = new_col.map({True: 1, False: 0})
        
        # Add the new column to the DataFrame
        df[f"QUERY_08_{col1}_{col2}"] = new_col
        
    return df

new_df = query_08(df_merged_flt, column_pairs)

In [ ]:
for pair in column_pairs:
    col1, col2 = pair
    new_col = f"QUERY_08_{col1}_{col2}"
    count = new_df[new_col].value_counts()
    percent = new_df[new_col].value_counts(normalize=True) * 100
    print(f"{new_col}:\nCount:\n{count}\nPercentage:\n{percent}\n")

In [ ]:
df[['NEWSSID', 'O22307_F4410', 'K22307_F2810', 'O22308_F5010', 'K22308_F3410', 'O22309_F5610', 'K22309_F4010', 'QUERY_08_O22307_F4410_K22307_F2810']].head(10)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 09:</b>

In [ ]:
def generate_lists_09(df,
                      A1_prefix=None, A2_prefix=None, A3_prefix=None,
                      L1_prefix=None, L2_prefix=None, L3_prefix=None,
                      M1_prefix=None, M2_prefix=None, M3_prefix=None,
                      N1_prefix=None, N2_prefix=None, N3_prefix=None,
                      O1_prefix=None, O2_prefix=None, O3_prefix=None,
                      P1_prefix=None, P2_prefix=None, P3_prefix=None,
                      Q1_prefix=None, Q2_prefix=None, Q3_prefix=None,
                      R1_prefix=None, R2_prefix=None, R3_prefix=None):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)

    if A1_prefix is None:
        A1_prefix = month_quarter[0]
    if A2_prefix is None:
        A2_prefix = month_quarter[1]
    if A3_prefix is None:
        A3_prefix = month_quarter[2]
    if L1_prefix is None:
        L1_prefix = month_quarter[0]
    if L2_prefix is None:
        L2_prefix = month_quarter[1]
    if L3_prefix is None:
        L3_prefix = month_quarter[2]
    if M1_prefix is None:
        M1_prefix = month_quarter[0]
    if M2_prefix is None:
        M2_prefix = month_quarter[1]
    if M3_prefix is None:
        M3_prefix = month_quarter[2]
    if N1_prefix is None:
        N1_prefix = month_quarter[0]
    if N2_prefix is None:
        N2_prefix = month_quarter[1]
    if N3_prefix is None:
        N3_prefix = month_quarter[2]
    if O1_prefix is None:
        O1_prefix = month_quarter[0]
    if O2_prefix is None:
        O2_prefix = month_quarter[1]
    if O3_prefix is None:
        O3_prefix = month_quarter[2]
    if P1_prefix is None:
        P1_prefix = month_quarter[0]
    if P2_prefix is None:
        P2_prefix = month_quarter[1]
    if P3_prefix is None:
        P3_prefix = month_quarter[2]
    if Q1_prefix is None:
        Q1_prefix = month_quarter[0]
    if Q2_prefix is None:
        Q2_prefix = month_quarter[1]
    if Q3_prefix is None:
        Q3_prefix = month_quarter[2]
    if R1_prefix is None:
        R1_prefix = month_quarter[0]
    if R2_prefix is None:
        R2_prefix = month_quarter[1]
    if R3_prefix is None:
        R3_prefix = month_quarter[2]

    A1_lst = []
    A2_lst = []
    A3_lst = []
    L1_lst = []
    L2_lst = []
    L3_lst = []
    M1_lst = []
    M2_lst = []
    M3_lst = []
    N1_lst = []
    N2_lst = []
    N3_lst = []
    O1_lst = []
    O2_lst = []
    O3_lst = []
    P1_lst = []
    P2_lst = []
    P3_lst = []
    Q1_lst = []
    Q2_lst = []
    Q3_lst = []
    R1_lst = []
    R2_lst = []
    R3_lst = []

    for i in range(1, 11):
        A1_col = f'A{year}{quarter}{A1_prefix}_F01{i:02d}'
        A2_col = f'A{year}{quarter}{A2_prefix}_F07{i:02d}'
        A3_col = f'A{year}{quarter}{A3_prefix}_F13{i:02d}'
        L1_col = f'L{year}{quarter}{L1_prefix}_F41{i:02d}'
        L2_col = f'L{year}{quarter}{L2_prefix}_F47{i:02d}'
        L3_col = f'L{year}{quarter}{L3_prefix}_F53{i:02d}'
        M1_col = f'M{year}{quarter}{M1_prefix}_F42{i:02d}'
        M2_col = f'M{year}{quarter}{M2_prefix}_F48{i:02d}'
        M3_col = f'M{year}{quarter}{M3_prefix}_F54{i:02d}'
        N1_col = f'N{year}{quarter}{N1_prefix}_F43{i:02d}'
        N2_col = f'N{year}{quarter}{N2_prefix}_F49{i:02d}'
        N3_col = f'N{year}{quarter}{N3_prefix}_F55{i:02d}'
        O1_col = f'O{year}{quarter}{O1_prefix}_F44{i:02d}'
        O2_col = f'O{year}{quarter}{O2_prefix}_F50{i:02d}'
        O3_col = f'O{year}{quarter}{O3_prefix}_F56{i:02d}'
        P1_col = f'P{year}{quarter}{P1_prefix}_F59{i:02d}'
        P2_col = f'P{year}{quarter}{P2_prefix}_F60{i:02d}'
        P3_col = f'P{year}{quarter}{P3_prefix}_F61{i:02d}'
        Q1_col = f'Q{year}{quarter}{P1_prefix}_F45{i:02d}'
        Q2_col = f'Q{year}{quarter}{P2_prefix}_F51{i:02d}'
        Q3_col = f'Q{year}{quarter}{P3_prefix}_F57{i:02d}'
        R1_col = f'R{year}{quarter}{P1_prefix}_F46{i:02d}'
        R2_col = f'R{year}{quarter}{P2_prefix}_F52{i:02d}'
        R3_col = f'R{year}{quarter}{P3_prefix}_F58{i:02d}'

        A1_lst.append(A1_col)
        A2_lst.append(A2_col)
        A3_lst.append(A3_col)
        L1_lst.append(L1_col)
        L2_lst.append(L2_col)
        L3_lst.append(L3_col)
        M1_lst.append(M1_col)
        M2_lst.append(M2_col)
        M3_lst.append(M3_col)
        N1_lst.append(N1_col)
        N2_lst.append(N2_col)
        N3_lst.append(N3_col)
        O1_lst.append(O1_col)
        O2_lst.append(O2_col)
        O3_lst.append(O3_col)
        P1_lst.append(P1_col)
        P2_lst.append(P2_col)
        P3_lst.append(P3_col)
        Q1_lst.append(Q1_col)
        Q2_lst.append(Q2_col)
        Q3_lst.append(Q3_col)
        R1_lst.append(R1_col)
        R2_lst.append(R2_col)
        R3_lst.append(R3_col)

    return A1_lst, A2_lst, A3_lst, L1_lst, L2_lst, L3_lst, M1_lst, M2_lst, M3_lst, N1_lst, N2_lst, N3_lst, O1_lst, O2_lst, O3_lst, P1_lst, P2_lst, P3_lst, Q1_lst, Q2_lst, Q3_lst, R1_lst, R2_lst, R3_lst                                 

year = 22
quarter = 3
lists_tuple = generate_lists_09(df)
A1_lst, A2_lst, A3_lst, L1_lst, L2_lst, L3_lst, M1_lst, M2_lst, M3_lst, N1_lst, N2_lst, N3_lst, O1_lst, O2_lst, O3_lst, P1_lst, P2_lst, P3_lst, Q1_lst, Q2_lst, Q3_lst, R1_lst, R2_lst, R3_lst = lists_tuple     

print(f"List 01 = {P1_lst}")
print(f"List 02 = {Q2_lst}")
print(f"List 02 = {R3_lst}")

In [ ]:
def query_09(df, generate_lists_09):
   """
    Perform validation based on the SGTGU dataset's naming convention.
    
    Purpose:
    - Ensures that if the "Employees" column (A) has a value, then the "Total salary & wages" column (Q) must also have a value.
    - If the "Total salary & wages" column (Q) has a value, then at least one of the columns representing 
      "Basic salary" (L), "Fixed allowance" (M), "Bonus" (N), "Overtime Pay" (O), or "Other payments" (P) must also have a value.

    Pass/Fail Condition:
    - A row passes if the conditions described in the purpose are met.
    - A row fails if either condition described in the purpose is violated.
    
    Variables Used:
    A: Employees
    L: Basic salary
    M: Fixed allowance
    N: Bonus
    O: Overtime Pay
    P: Other payments
    Q: Total salary & wages
    
    Parameters:
    - df: DataFrame containing the data.
    - generate_lists_09: Function to generate the required column lists.
    
    Returns:
    - DataFrame with added columns for validation results.
    """

    # Get the column name lists
    A1_lst, A2_lst, A3_lst, L1_lst, L2_lst, L3_lst, M1_lst, M2_lst, M3_lst, N1_lst, N2_lst, N3_lst, O1_lst, O2_lst, O3_lst, P1_lst, P2_lst, P3_lst, Q1_lst, Q2_lst, Q3_lst, R1_lst, R2_lst, R3_lst = generate_lists_09(df)    
    
    # Combined lists for A and Q
    main_column_lists = [A1_lst, A2_lst, A3_lst]
    Q_lsts = [Q1_lst, Q2_lst, Q3_lst]
    
    # List of all columns from L to P
    column_lists = L1_lst + L2_lst + L3_lst + M1_lst + M2_lst + M3_lst + N1_lst + N2_lst + N3_lst + O1_lst + O2_lst + O3_lst + P1_lst + P2_lst + P3_lst
    
    # Initialize result dictionary to store validation results
    result = {}
    
    # Perform validation checks
    for main_column_list, Q_lst in zip(main_column_lists, Q_lsts):
        for main_column, Q_col in zip(main_column_list, Q_lst):
            A_has_value = df[main_column].notnull()
            Q_has_value = df[Q_col].notnull()
            L_to_P_have_value = df[column_lists].ne(0).any(axis=1)

            result[f"QUERY_09_{main_column}"] = ((A_has_value & Q_has_value) | 
                                                (Q_has_value & L_to_P_have_value)).astype(int)

    # Add validation result columns to the dataframe
    df = df.assign(**result)
    
    return df

df = query_09(df, generate_lists_09)

In [ ]:
main_column_lists = [A1_lst,A2_lst,A3_lst]
for main_column_list in main_column_lists:
    for main_column in main_column_list:
        new_col = f"QUERY_09_{main_column}"
        count = df[new_col].value_counts()
        percent = df[new_col].value_counts(normalize=True) * 100
        print(f"{new_col}:\nCount:\n{count}\nPercentage:\n{percent}\n")

In [ ]:
abc = df.columns[df.columns.str.startswith("NEW")]
abc

In [ ]:
df[['NEWSSID', 'A22307_F0101', 'Q22307_F4501', 'L22307_F4101', 'M22307_F4201', 'N22307_F4301', 'O22307_F4401', 'P22307_F5901']].sample(10)

In [ ]:
df.head(5)

In [ ]:
P1_lst

In [ ]:
df_01 = df_merged_flt[df_merged_flt['NEWSSID'] == 60078]
df_01[['NEWSSID', 'QUERY_09_A22307_F0109', 'A22307_F0109', 'L22307_F4109', 'M22307_F4209', 'N22307_F4309', 'O22307_F4409', 'P22307_F5909']].head(10)

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 10:</b>

In [ ]:
def generate_lists_10(df, year, quarter,
                      A01_prefix=None,
                      A1_prefix=None, A2_prefix=None, A3_prefix=None,
                      Q01_prefix=None,
                      Q1_prefix=None, Q2_prefix=None, Q3_prefix=None):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)
    
    past_quarter = quarter - 1
    if past_quarter < 1:
        past_quarter = 4  # Wrap around to the fourth quarter if current quarter is 
        
    past_month_quarter = get_month_quarter(past_quarter)  # Get month range for previous quarter

    if A01_prefix is None:
        A01_prefix = past_month_quarter[-1]
    if A1_prefix is None:
        A1_prefix = month_quarter[0]
    if A2_prefix is None:
        A2_prefix = month_quarter[1]
    if A3_prefix is None:
        A3_prefix = month_quarter[2]
    if Q01_prefix is None:
        Q01_prefix = past_month_quarter[-1]
    if Q1_prefix is None:
        Q1_prefix = month_quarter[0]
    if Q2_prefix is None:
        Q2_prefix = month_quarter[1]
    if Q3_prefix is None:
        Q3_prefix = month_quarter[2]
   
    A01_lst = []
    A1_lst = []
    A2_lst = []
    A3_lst = []
    Q01_lst = []
    Q1_lst = []
    Q2_lst = []
    Q3_lst = []

    for i in range(1, 11):
        past_year = year - 1 if quarter == 1 else year  # Subtract 1 from the year only if the quarter is 1
        A01_col = f'A{past_year}{past_quarter}{A01_prefix}_F13{i:02d}'
        A1_col = f'A{year}{quarter}{A1_prefix}_F01{i:02d}'
        A2_col = f'A{year}{quarter}{A2_prefix}_F07{i:02d}'
        A3_col = f'A{year}{quarter}{A3_prefix}_F13{i:02d}'
        Q01_col = f'Q{past_year}{past_quarter}{Q01_prefix}_F57{i:02d}'
        Q1_col = f'Q{year}{quarter}{Q1_prefix}_F45{i:02d}'
        Q2_col = f'Q{year}{quarter}{Q2_prefix}_F51{i:02d}'
        Q3_col = f'Q{year}{quarter}{Q3_prefix}_F57{i:02d}'

        A01_lst.append(A01_col)
        A1_lst.append(A1_col)
        A2_lst.append(A2_col)
        A3_lst.append(A3_col)
        Q01_lst.append(Q01_col)
        Q1_lst.append(Q1_col)
        Q2_lst.append(Q2_col)
        Q3_lst.append(Q3_col)

    return A01_lst, A1_lst, A2_lst, A3_lst, Q01_lst, Q1_lst, Q2_lst, Q3_lst

year = 22
quarter = 3
lists_tuple = generate_lists_10(df, year, quarter)
A01_lst, A1_lst, A2_lst, A3_lst, Q01_lst, Q1_lst, Q2_lst, Q3_lst = lists_tuple

In [ ]:
def query_10(df, A01_lst, Q01_lst, A1_lst, A2_lst, A3_lst, Q1_lst, Q2_lst, Q3_lst):
    """
    Perform validation based on the SGTGU dataset's naming convention.
    
    Purpose:
    - Checks for significant changes in the average salary of employees across different months.
    - The average salary is calculated as the ratio of "Total salary & wages" (Q) to the number of "Employees" (A).
    - The growth rate between consecutive months is then calculated, and the result is validated against a threshold.

    Pass/Fail Condition:
    - A row passes if the calculated growth rate for any month falls within the range [-30%, 30%].
    - A row fails if the calculated growth rate for any month falls outside this range.
    
    Variables Used:
    A: Employees
    Q: Total salary & wages
    
    Parameters:
    - df: DataFrame containing the data.
    - generate_lists_10: Function to generate the required column lists.
    
    Returns:
    - DataFrame with added columns for validation results.
    """
    
    results = {}
    for i in range(10):
        # Calculate average Total Salary & Wages per Employee for each month
        avg_A01 = df[Q01_lst[i]] / df[A01_lst[i]]
        avg_A1 = df[Q1_lst[i]] / df[A1_lst[i]]
        avg_A2 = df[Q2_lst[i]] / df[A2_lst[i]]
        avg_A3 = df[Q3_lst[i]] / df[A3_lst[i]]

        # Calculate growth rate between consecutive months
        growth_A1 = ((avg_A1 - avg_A01) / avg_A01) * 100
        growth_A2 = ((avg_A2 - avg_A1) / avg_A1) * 100
        growth_A3 = ((avg_A3 - avg_A2) / avg_A2) * 100

        # Validate if the growth rate is within -30% to 30%
        results[A1_lst[i]] = (growth_A1 >= -30) & (growth_A1 <= 30)
        results[A2_lst[i]] = (growth_A2 >= -30) & (growth_A2 <= 30)
        results[A3_lst[i]] = (growth_A3 >= -30) & (growth_A3 <= 30)

    # Store the validation results in the DataFrame
    for column, result in results.items():
        df['QUERY_10_' + column] = result.astype(int)

    return df

validity_results = query_10(df, A01_lst, Q01_lst, A1_lst, A2_lst, A3_lst, Q1_lst, Q2_lst, Q3_lst)

In [ ]:
result_cols = [col for col in df.columns if col.startswith('QUERY_10_')]
for col in result_cols:
    counts = df[col].value_counts()
    total = counts.sum()
    percentages = counts / total * 100
    print(f'{col}:')
    for val, count, percent in zip(counts.index, counts.values, percentages.values):
        print(f'  {val}: {count} ({percent:.2f}%)')

<div class="alert alert-block alert-warning" style='margin-top: 20px'>

<b>Semakan Kualiti 11:</b>

In [ ]:
def generate_lists_11(df, prefix):

    def get_month_quarter(quarter):
        if quarter == 1:
            return ['01', '02', '03']
        elif quarter == 2:
            return ['04', '05', '06']
        elif quarter == 3:
            return ['07', '08', '09']
        elif quarter == 4:
            return ['10', '11', '12']
        else:
            return ['No quarter found']

    month_quarter = get_month_quarter(quarter)
    
    prev_quarter = quarter - 1 if quarter > 1 else 4
    prev_month_quarter = get_month_quarter(prev_quarter)

    first_month_past = prev_month_quarter[-3]
    second_month_past = prev_month_quarter[-2]
    last_month_past = prev_month_quarter[-1]
    first_month_present = month_quarter[0]
    second_month_present = month_quarter[1]
    last_month_present = month_quarter[2]

    column_lists = {}
    for i in range(1, 11):
        list_name = f"{prefix}{i:02d}_11_lst"
        column_list = [f"{prefix}{year}{prev_quarter}{first_month_past}_F01{i:02d}",
                       f"{prefix}{year}{prev_quarter}{second_month_past}_F07{i:02d}",
                       f"{prefix}{year}{prev_quarter}{last_month_past}_F13{i:02d}",
                       f"{prefix}{year}{quarter}{first_month_present}_F01{i:02d}",
                       f"{prefix}{year}{quarter}{second_month_present}_F07{i:02d}",
                       f"{prefix}{year}{quarter}{last_month_present}_F13{i:02d}"]
        column_lists[list_name] = column_list
    return column_lists

year = 22
quarter = 3

column_lists = generate_lists_11(df, 'A')

# Access the list "A02_11_lst"
A01_11_lst = column_lists['A01_11_lst']
A02_11_lst = column_lists['A02_11_lst']
A03_11_lst = column_lists['A03_11_lst']
A04_11_lst = column_lists['A04_11_lst']
A05_11_lst = column_lists['A05_11_lst']
A06_11_lst = column_lists['A06_11_lst']
A07_11_lst = column_lists['A07_11_lst']
A08_11_lst = column_lists['A08_11_lst']
A09_11_lst = column_lists['A09_11_lst']
A10_11_lst = column_lists['A10_11_lst']

In [ ]:
def query_11(df, column_lists):
    """
    Perform validation based on the SGTGU dataset's naming convention.
    
    Purpose:
    - Checks for consistent changes across different categories for a company.
    - If all categories show no changes across all months, then the company fails the validation. Otherwise, it passes.

    Pass/Fail Condition:
    - A row passes if at least one category shows changes across any month.
    - A row fails if all categories show no changes across all months.
    
    Variables Used:
    A: Employees
    
    Parameters:
    - df: DataFrame containing the data.
    - generate_lists_11: Function to generate the required column lists.
    
    Returns:
    - DataFrame with added columns for validation results.
    """
    
    # Initialize the 'QUERY_11' column to 1 (indicating all companies pass by default).
    df['QUERY_11'] = 1
    
    # Iterate over each row (company) in the dataframe.
    for index, row in df.iterrows():
        has_change = False  # Variable to track if any change is found for the current company.
        
        # Iterate over each category list.
        for columns in column_lists.values():
            past_cols = columns[:3]
            present_cols = columns[3:]
            
            # Compare past and present data for the category.
            if not (row[past_cols].values == row[present_cols].values).all():
                has_change = True
                break
        
        # If no changes are found across all categories, mark the company as failing the validation.
        if not has_change:
            df.at[index, 'QUERY_11'] = 0

    return df

# Example Usage:
column_lists = generate_lists_11(df, 'A')
df_result = query_11(df, column_lists)

In [ ]:
df.head(10)

In [ ]:
A10_11_lst

In [ ]:
df[['NEWSSID', 'A22204_F0101', 'A22205_F0701', 'A22206_F1301', 'A22307_F0101', 'A22308_F0701', 'A22309_F1301', 'QUERY_11']].head(10)

In [ ]:
df[['NEWSSID', 'A22204_F0102', 'A22205_F0702', 'A22206_F1302', 'A22307_F0102', 'A22308_F0702', 'A22309_F1302', 'QUERY_11']].head(10)

In [ ]:
df[['NEWSSID', 'A22204_F0103', 'A22205_F0703', 'A22206_F1303', 'A22307_F0103', 'A22308_F0703', 'A22309_F1303', 'QUERY_11']].head(10)

In [ ]:
df[['NEWSSID', 'A22204_F0104', 'A22205_F0704', 'A22206_F1304', 'A22307_F0104', 'A22308_F0704', 'A22309_F1304', 'QUERY_11']].head(10)

In [ ]:
df[['NEWSSID', 'A22204_F0110', 'A22205_F0710', 'A22206_F1310', 'A22307_F0110', 'A22308_F0710', 'A22309_F1310', 'QUERY_11']].head(10)

In [ ]:
df['QUERY_11'].value_counts()

In [ ]:
abc = df.columns[df.columns.str.startswith("O22")]
abc

In [ ]:
defg = df.columns[df.columns.str.startswith("K22")]
defg

In [ ]:
def save_df_with_suffix(dataframe, original_filename, output_file_path):
    """
    Save the dataframe to a CSV file in the specified directory with the original filename followed by a "_new" suffix.
    
    Parameters:
    - dataframe: The dataframe to be saved
    - original_filename: The original name of the file
    - output_file_path: Directory path where the new file should be saved
    
    Returns:
    - new_filepath: The full path of the new file created
    """
    # Split the filename from its extension
    base_name, extension = os.path.splitext(os.path.basename(original_filename))
    
    # Add the "_new" suffix to the filename
    new_filename = f"{base_name}_new{extension}"
    
    # Construct the full filepath for the new file
    new_filepath = os.path.join(output_file_path, new_filename)
    
    # Save the dataframe to the new filepath
    dataframe.to_csv(new_filepath, index=False)
    
    return new_filepath

In [ ]:
new_file_path = save_df_with_suffix(your_dataframe, 'your_original_filename.csv', 'C:/Users/aiman/Desktop/gh_konsistensi/output/sgtgu/')
print(f"Dataframe saved at: {new_file_path}")

In [ ]:
df_merged_flt.head(5)

In [ ]:
suffix = '_new'

# Create the new file name by adding the suffix
new_file_name = original_file_name.replace('.csv', '') + suffix + '.csv'

# Save the DataFrame as CSV using the new file name
df_merged_flt.head(5).to_csv(os.path.join(output_file_path, new_file_name), index=False)

In [34]:
suffix = '_new'

# Create the new file name by adding the suffix
new_file_name = original_file_name.replace('.xlsx', '') + suffix + '.xlsx'

# Save the DataFrame as CSV using the new file name
# df_merged_sort.to_excel(os.path.join(output_file_path, new_file_name), index=False)
df_merged_sort_01.head(500).to_excel(os.path.join(output_file_path, new_file_name), index=False)

In [ ]:
df_merged_flt.shape

In [ ]:
end_time = time.time()
execution_time = end_time - start_time

minutes = int(execution_time // 60)
seconds = int(execution_time % 60)

print("Total execution time: {} minutes {} seconds".format(minutes, seconds))

In [ ]:
count = 0
for column in df_merged_flt.columns:
    if 'QUERY' in column:
        count += 1
        print(column)

print(f"Row that contain 'QUERY': ", count)